<a href="https://colab.research.google.com/github/cecizubin/Maria-Cecilia-Zubin---Comision-61615---Preentrega-/blob/main/Pre_entrega.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Preentrega - Analisis de variables - Planteo de Hipotesis

Detalle dataset

In [ ]:
import pandas as pd

# Leer el archivo especificando la codificaci√≥n
df = pd.read_csv('/content/dataset/dataset original.csv', encoding='latin-1', delimiter=';')

# Mostrar las primeras filas del DataFrame
df.head()

,Legajo,Estado,Estructura,Convenio,Categoria,ID_Cat,Ingreso,Sexo,provincia,puesto,piramide,Titulo,ID_PuestoBasico,Sindicato,ID_sindicato,Enero,Febrero,Marzo
0,231,ACTI,Fuera de convenio,FCON,Fuera de Convenio,FCC,8/9/2015,M,FORM,Analista de Mantenimiento,6,NO,AMT,Fuera de Convenio,4,487369,633580,760296
1,236,ACTI,Dentro de convenio,CC-781,27 Hs. CATEGORIA OP. A CCT 781,OP27,14/9/2015,F,FORM,Operador,8,NO,CDT,SEC. Formosa CC-781 No Afiliad,10,"226935,62","251898,54","251898,54"
2,1420,ACTI,Fuera de convenio,FCON,Fuera de Convenio,FCC,2/2/2009,F,CBA,Team Leader Operaciones,7,NO,TLC,Fuera de Convenio,4,481271,625652,750782
3,1444,ACTI,Dentro de convenio,ATCC,"36,0 Hs. CATEGORIA 3 CCT688/14",H01,2/2/2009,F,CBA,Operador,8,NO,CDT,ATACC No Afiliado,3,"314974,44","349621,63","349621,63"
4,1470,ACTI,Dentro de convenio,ATCC,"30,0 Hs. CATEGORIA 3 CCT688/14",H13,23/2/2009,F,CBA,Operador,8,NO,CDT,ATACC No Afiliado,3,"262478,7","291351,36","291351,36"

Descripcion de variables

In [ ]:
print(df.dtypes)

Legajo              int64
Estado             object
Estructura         object
Convenio           object
Categoria          object
ID_Cat             object
Ingreso            object
Sexo               object
provincia          object
puesto             object
piramide            int64
Titulo             object
ID_PuestoBasico    object
Sindicato          object
ID_sindicato        int64
Enero              object
Febrero            object
Marzo              object
dtype: object

Descripcion del Dataset

En la descripcion del dataset, al solicitar el detalle de cada tipo de variable, se observa, que esta leyendo tres columnas que poseen datos de sueldo, por ende son numericas, como de tipo objeto.
Por tal motivo se procede a la correccion de las mismas.

In [ ]:
columnas_objeto = df.select_dtypes(include=['object']).columns
print("Columnas que Pandas interpreta como 'object':\n", columnas_objeto)

Columnas que Pandas interpreta como 'object':
 Index(['Estado', 'Estructura', 'Convenio', 'Categoria', 'ID_Cat', 'Ingreso',
       'Sexo', 'provincia', 'puesto', 'Titulo ', 'ID_PuestoBasico',
       'Sindicato', 'Enero', 'Febrero', 'Marzo'],
      dtype='object')

In [ ]:
df['Enero'] = pd.to_numeric(df['Enero'], errors='coerce')

In [ ]:
print(df['Enero'].dtype)

float64

In [ ]:
df['Febrero'] = pd.to_numeric(df['Febrero'], errors='coerce')

In [ ]:
print(df['Febrero'].dtype)

float64

In [ ]:
df['Marzo'] = pd.to_numeric(df['Marzo'], errors='coerce')

In [ ]:
print(df['Marzo'].dtype)

float64

In [ ]:
df['Ingreso'] = pd.to_numeric(df['Ingreso'], errors='coerce')

In [ ]:
print(df['Ingreso'].dtype)

float64

In [ ]:
df['Legajo'] = df['Legajo'].astype(str)

In [ ]:
print(df['Legajo'].dtype)

object

Se modifica el tipo de dato del legajo de numero a texto, para que no genere distorsion a nivel estadistico, debido a que no es un valor numerico relevante en este caso

In [ ]:
print(df.dtypes)

Legajo              object
Estado              object
Estructura          object
Convenio            object
Categoria           object
ID_Cat              object
Ingreso             object
Sexo                object
provincia           object
puesto              object
piramide             int64
Titulo              object
ID_PuestoBasico     object
Sindicato           object
ID_sindicato         int64
Enero              float64
Febrero            float64
Marzo              float64
dtype: object

In [ ]:
df.shape

(2205, 18)

El dataset obtenido posee 2205 filas y 18 columnas

In [ ]:
df.duplicated().value_counts()

False    2205
Name: count, dtype: int64

El dataset no posee filas repetidas.

In [ ]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Legajo           2205 non-null   object
 1   Estado           2205 non-null   object
 2   Estructura       2205 non-null   object
 3   Convenio         2205 non-null   object
 4   Categoria        2205 non-null   object
 5   ID_Cat           2205 non-null   object
 6   Ingreso          2205 non-null   object
 7   Sexo             2205 non-null   object
 8   provincia        2205 non-null   object
 9   puesto           2205 non-null   object
 10  piramide         2205 non-null   int64
 11  Titulo           2205 non-null   object
 12  ID_PuestoBasico  2205 non-null   object
 13  Sindicato        2205 non-null   object
 14  ID_sindicato     2205 non-null   int64
 15  Enero            403 non-null    float64
 16  Febrero          409 non-null    float64
 17  Marzo            411 non-null    float64
dtypes: float64(3), int64(2), object(13)
memory usage: 310.2+ KB

El dataset no posee valores nulos

Columnas Categoricas

In [ ]:
df.describe(include = 'object').T

                count unique                             top  freq
Legajo           2205   2205                             231     1
Estado           2205      1                            ACTI  2205
Estructura       2205      2              Dentro de convenio  1789
Convenio         2205      3                        ATCC      1398
Categoria        2205     17  36,0 Hs. CATEGORIA 3 CCT688/14   616
ID_Cat           2205     17                            H01    616
Ingreso          2205    649                        1/8/2022    45
Sexo             2205      2                               F  1564
provincia        2205      3        CBA                       1620
puesto           2205     71                       Operador   1789
Titulo           2205      2                              NO  2079
ID_PuestoBasico  2205     71                        CDT       1789
Sindicato        2205      8               ATACC No Afiliado  1297

Columnas Numericas

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
piramide,2205.0,7.600000,0.993902,0.0,8.0,8.0,8.0,8.0
ID_sindicato,2205.0,4.257596,2.409306,2.0,3.0,3.0,4.0,11.0
Enero,403.0,577563.548387,390095.646450,243766.0,438431.0,446398.0,602268.5,4668357.0
Febrero,409.0,733049.322738,503231.275850,243766.0,569960.0,580317.0,733541.0,6068864.0
Marzo,411.0,852121.822384,610334.349921,243766.0,667133.0,696380.0,762710.0,6982637.0

Filtrado de valores absolutos

In [ ]:
df = df[(df['Enero'] > 0) & (df['Febrero'] >= 0) & (df['Marzo'] > 0)]

El dataset esta basado en datos de sueldo por lo cual ningun valor pordria ser negativo.